*.h5 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
dataset/Fake.csv filter=lfs diff=lfs merge=lfs -text
dataset/True.csv filter=lfs diff=lfs merge=lfs -text
